include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include tox.ini
graft people
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune people/tests/coverage
prune people/.ropeproject
